@course-menu-item-height: 35px;
@course-menu-item-btn-width: 20px;
.ad-course-menu-addGroup {
  height: @course-menu-item-height;
  cursor: pointer;
  text-align: center;
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  &::before {
    display: none;
    content: '';
    height: 3px;
    width: 100%;
    background-color: @color-primary;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }
  span {
    display: none;
    border: 3px solid @color-primary;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    position: relative;
    background-color: #fff;
    em {
      .center();
      display: inline-block;
      background-color: @color-primary;
      &:first-child {
        width: 18px;
        height: 3px;
      }
      &:last-child {
        width: 3px;
        height: 18px;
      }
    }
  }
  &:hover {
    &::before {
      display: block;
    }
    span {
      display: inline-block;
    }
  }
}
.ad-course-menu {
  .item {
    background-color: #fff;
    border: 1px solid #747474;
    min-height: @course-menu-item-height;
    display: flex;
    flex-wrap: nowrap;
    &.isDragging {
      background-color: #ccc;
      border: unset;
      .item-grab,
      .item-btn-arrow,
      .item-text,
      .item-extra {
        opacity: 0;
      }
    }
    &.item-course {
      background-color: #c8c8c833;
    }

    .item-grab {
      min-width: @course-menu-item-height;
      min-height: @course-menu-item-height;
      position: relative;
      cursor: grab;
      svg {
        .center();
      }
    }

    .item-btn-arrow {
      width: @course-menu-item-height;
      min-height: @course-menu-item-height;
      padding-left: 20px;
      padding-right: 20px;
      position: relative;
      cursor: pointer;
      svg {
        .center();
      }
    }
    .item-text {
      width: 100%;
      min-height: 100%;
      height: auto;
      padding: 7px 0;
      font-size: 14px;
      input {
        width: 100%;
        height: 90%;
        background-color: transparent;
        outline: none;
        border: unset;
      }
    }
    .item-extra {
      min-width: 65px;
      min-height: @course-menu-item-height;
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      justify-content: flex-end;
      .anticon {
        margin-right: 10px;
        display: inline-block;
        vertical-align: middle;
        width: @course-menu-item-btn-width;
        height: @course-menu-item-btn-width;
        border-radius: 50%;
        border: 1px solid #000;
        background-color: #fff;
        position: relative;
        cursor: pointer;
        svg {
          .center();
        }
      }
    }
  }
  .item-A {
    // background-color: red;
  }
  .item-B {
    // background-color: orange;
    .item-text {
      padding-left: 2rem;
    }
  }
  .item-C {
    // background-color: pink;
    .item-btn-arrow {
      visibility: hidden;
    }
    .item-text {
      padding-left: 4rem;
    }
  }
}
