@course-menu-item-height: 35px;
@course-menu-item-btn-width: 20px;
.ad-course-menu-addGroup {
  height: @course-menu-item-height;
  background-color: #ccc;
  cursor: pointer;
}
.ad-course-menu {
  .item {
    background-color: #fff;
    border: 1px solid #747474;
    min-height: @course-menu-item-height;
    display: flex;
    flex-wrap: nowrap;
    &.isDragging {
      background-color: #ccc;
      border: unset;
      .item-grab,
      .item-btn-arrow,
      .item-text,
      .item-extra {
        opacity: 0;
      }
    }

    .item-grab {
      min-width: @course-menu-item-height;
      min-height: @course-menu-item-height;
      position: relative;
      cursor: grab;
      svg {
        .center();
      }
    }

    .item-btn-arrow {
      width: @course-menu-item-height;
      min-height: @course-menu-item-height;
      padding-left: 20px;
      padding-right: 20px;
      position: relative;
      cursor: pointer;
      svg {
        .center();
      }
    }
    .item-text {
      width: 100%;
      min-height: 100%;
      height: auto;
      padding: 7px 0;
      font-size: 14px;
      input {
        width: 100%;
        height: 90%;
        background-color: transparent;
        outline: none;
        border: unset;
      }
    }
    .item-extra {
      min-width: 65px;
      min-height: @course-menu-item-height;
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      position: relative;
      .anticon {
        margin-right: 10px;
        display: inline-block;
        vertical-align: middle;
        width: @course-menu-item-btn-width;
        height: @course-menu-item-btn-width;
        border-radius: 50%;
        border: 1px solid #000;
        background-color: #fff;
        position: relative;
        cursor: pointer;
        svg {
          .center();
        }
      }
      .item-extra-dropdown {
        z-index: 2;
        transition: @transition;
        display: none;
        width: 100px;
        height: auto;
        position: absolute;
        top: 90%;
        right: -90%;
        background-color: #fff;
        border: 1px solid #000;
        & > div {
          padding: 0.5rem;
          cursor: pointer;
        }
      }
    }
  }
  .item-group {
    background-color: red;
  }
  .item-chapter {
    background-color: orange;
    .item-text {
      padding-left: 2rem;
    }
  }
  .item-section {
    background-color: pink;
    .item-btn-arrow {
      visibility: hidden;
    }
    .item-text {
      padding-left: 4rem;
    }
  }
}
