.ad-login-container-box {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.ad-login-bg {
  height: 100%;
  background-image: url('/assets/img/industry.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  &::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: fade(@color-primary, 70%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: @z-index-global-login-bg;
  }
}
.ad-login-container {
  width: 100%;
  max-width: 660px;
  background-color: @color-gray01;
  padding: 48px 92px;
}
.ad-login-content-err {
  .typo-bodyDefault();
  background-color: @color-error-light;
  border: 1px solid @color-error;
  padding: 10px 17px;
  color: @color-error;
  margin-bottom: 16px;
  .anticon {
    margin-right: 16px;
  }
  &.show {
    visibility: unset;
  }
  &.hide {
    visibility: hidden;
  }
}
.ad-login-content-header {
  .clearFix();
  .typo-title();
  margin-bottom: 24px;
  .ant-btn {
    margin-top: 5px;
  }
}
.ad-login-content-body {
  margin-bottom: 48px;
  & > *:not(:last-child) {
    margin-bottom: 16px;
  }
}
.ad-login-footer {
  padding: 1rem 79px 90px 1rem;
  color: @color-white;
  text-align: right;
  margin-top: auto;
  .ad-login-footer-logo {
    margin-bottom: 1rem;
    width: 100%;
    text-align: right;
  }
  .ad-login-footer-btn-group {
    width: 100%;
    text-align: right;

    .ant-btn-link {
      color: @color-white;
    }
    .ant-btn-link:first-child::after {
      content: '|';
      margin: 0 1rem;
    }
  }
}
