.ad-btn-group {
  .ant-btn:not(:last-child) {
    margin-right: 30px;
  }
}

// type
.ant-btn {
  .typo-bodyBold();
  padding: 12px;
}
.ad-btn-primary {
  color: @color-black;
  background-color: @color-white;

  &:hover,
  &:focus {
    color: @color-primary-light03;
    background-color: @color-primary;
  }
  &:active {
    color: @color-primary-light01;
    background-color: @color-primary;
  }
}
.ad-btn-action {
  &:hover,
  &:focus {
    color: @color-primary-light03;
    background-color: @color-black;
  }
  &:active {
    color: @color-primary-light01;
    background-color: @color-black;
  }
}
.ad-btn-bordless {
  color: @color-primary;
  background-color: transparent;
  &:hover,
  &:focus {
    color: @color-primary;
    background-color: @color-primary-light02;
  }
  &:active {
    color: @color-primary-light01;
    background-color: @color-primary-light02;
  }
}
.ad-btn-link.ant-btn-link {
  .typo-bodyDefault();
  font-family: NotoSansRegular;
  padding: unset;
  height: auto;
  &:hover,
  &:focus {
    color: @color-primary;
    background-color: unset;
  }
  span {
    &:hover,
    &:focus {
      text-decoration: none;
    }
    &,
    &:active {
      text-decoration: underline;
    }
  }
}

// disabled
.ant-btn[disabled],
.ant-btn[disabled]:hover,
.ant-btn[disabled]:focus,
.ant-btn[disabled]:active {
  color: @color-gray03;
  background-color: @color-gray02;
}

// size
// .ant-btn-sm {
//   font-size: 1rem;
//   font-weight: 400;
//   padding: 0 7px;
// }
