.ad-btn-group {
  .ant-btn:not(:last-child) {
    margin-right: 30px;
  }
}

// feature in adat (type in antd), the classNames here is from antd
// feature = primary
.ant-btn {
  .typo-bodyBold();
  padding: 12px;

  &:hover,
  &:focus {
    background-color: @color-primary!important;
    span {
      color: @color-primary-light03!important;
    }
  }
  &:active {
    background-color: @color-primary!important;
    span {
      color: @color-primary-light01!important;
    }
  }

  &.w-100 {
    width: 100% !important;
  }
}
// feature = action
.ant-btn-primary {
  &:hover,
  &:focus {
    background-color: @color-black!important;
  }
  &:active {
    background-color: @color-black!important;
    span {
      color: @color-primary-light01!important;
    }
  }
}
// feature = secondary
.ant-btn-text {
  color: @color-primary!important;
  &:hover,
  &:focus {
    background-color: @color-primary-light02!important;
    span {
      color: @color-primary!important;
    }
  }
  &:active {
    span {
      color: @color-primary-light01;
    }
    background-color: @color-primary-light02;
  }
}
// feature = link
.ant-btn-link {
  .typo-bodyDefault();
  font-family: NotoSansRegular;
  padding: unset;
  height: auto;
  &:hover,
  &:focus {
    span {
      color: @color-primary !important;
      text-decoration: none !important;
    }
    background-color: transparent !important;
  }
  &:active {
    span {
      color: @color-primary !important;
      text-decoration: underline !important;
    }
    border: 1px solid @color-primary!important;
  }
  span {
    text-decoration: underline !important;
  }
}

// disabled
.ant-btn[disabled],
.ant-btn[disabled]:hover,
.ant-btn[disabled]:focus,
.ant-btn[disabled]:active {
  background-color: @color-gray02!important;
  span {
    color: @color-gray03!important;
  }
}

// size
// TODO adjust for admin
// .ant-btn-sm {
//   font-size: 1rem;
//   font-weight: 400;
//   padding: 0 7px;
// }
