.ad-form-group {
  position: relative;
  & > label {
    display: block;
    font-size: @form-group-font-size;
    font-weight: 400;
    margin-bottom: 0.5rem;
    &.required {
      &::before {
        content: '*';
      }
    }
    em {
      font-size: 12px;
      font-weight: 300;
    }
  }
}
.ad-form-group-horizontal {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  & > label {
    margin-bottom: unset;
    margin-right: 20px;
  }
}
.ad-form-group-value {
  font-size: @form-group-font-size;
  color: @form-group-value-color;
  & + .ant-btn {
    margin-left: 1rem;
  }
}
.ad-form-group .ad-form-group-msg {
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
}
