.aa-form-group {
  position: relative;
  margin-bottom: 16px;

  & > label {
    .typo-bodyDefault();
    display: block;
    font-weight: 400;
    color: @color-gray04;
    margin-bottom: 5px;
    &.required {
      &::after {
        content: '*';
        color: @color-error;
        font-size: 14px;
        margin-left: 1px;
      }
    }
  }
}
.aa-form-group-horizontal {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  & > label {
    margin-bottom: unset;
    margin-right: 20px;
  }
}
.aa-form-group-value {
  .typo-bodyDefault();
  color: @form-group-value-color;
  & + .ant-btn {
    margin-left: 1rem;
  }
}
.aa-form-group .aa-form-group-msg {
  position: absolute;
  top: calc(100% + 3px);
  left: 0;
  .typo-small();
  width: 100%;
}
.aa-input-error {
  border: 1px solid @color-error;
  background-color: @color-error-light;
  border-radius: 2px;
  input {
    background-color: @color-error-light;
  }
}
