.ant-input-number {
  width: 100%;
  border-color: @color-input-border;
}
.ad-input-copy * {
  cursor: copy;
  // -webkit-touch-callout: none;
  // -webkit-user-select: none;
  // -moz-user-select: none;
  // -ms-user-select: none;
  // user-select: none;
}
