input.ant-input,
textarea.ant-input,
.ant-select-selector,
.ant-input-number {
  .form-input-border-default();
}
textarea.ant-input {
  max-height: 200px !important;
}
.aa-input-copy * {
  cursor: copy;
  // -webkit-touch-callout: none;
  // -webkit-user-select: none;
  // -moz-user-select: none;
  // -ms-user-select: none;
  // user-select: none;
}
.aa-select-autoHeight .ant-select-selector {
  max-height: unset;
  height: auto;
}
