.ant-table-thead .ant-table-cell {
  border-bottom: 3px solid @color-gray03;
  font-weight: 700;
}
.ant-table .ant-table-cell {
  .ad-btn-group .ant-btn:not(:last-child) {
    margin-right: 0.5rem;
  }
}
