@upload-bgc: #efefef;

.ad-upload {
  label {
    display: block;
    background-color: @upload-bgc;
    position: relative;
    margin-bottom: 1rem;
    cursor: copy;
    overflow: hidden;
  }

  &.circle label {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  &.rectangle label {
    width: 340px;
    height: 200px;
  }

  p {
    font-size: 12px;
    color: @color-gray04;
    margin: unset;
  }
}
.ad-upload-watermark {
  display: block;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  text-align: center;
  color: @color-gray04;

  em {
    font-style: normal;
    font-size: 1rem;
    display: block;
    margin-top: 0.5rem;
  }
}
.ad-upload-uploaded {
  width: 100%;
  height: 100%;
}
.ad-upload-info {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}
