// adat custom var, reference from mockup

// color
@color-primary: #022061;
@color-primary-light03: #eaeff8;
@color-primary-light02: #d6ddf0;
@color-primary-light01: #8f9fca;

@color-error: #da1414;
@color-error-light: #feefef;
@color-success: #287d3c;
@color-success-light: #edf9f0;

@color-black: #1d1d1e;
@color-white: #fdfeff;
@color-gray01: #fafcff;
@color-gray02: #dcdcdc;
@color-gray03: #989898;
@color-gray04: #646464;

// gradient
.bg-gradient-emphasis() {
  background-color: @color-primary;
  background: linear-gradient(
    132.03deg,
    #2efee4 -8.84%,
    #826aff 38.2%,
    #ff0adf 106.26%,
    #ff008f 106.26%
  );
}
.bg-gradient-default() {
  background-color: @color-primary-light03;
  background: linear-gradient(
    135.19deg,
    #ffffff -4.43%,
    #f6f8fe -4.42%,
    #dae4ff 86.52%
  );
}

// shadow
@box-shadow-separator:0px 1px 0px @color-gray02;
@box-shadow-emphasis:0px 4px 4px @color-gray02;

// layout
@layout-user-container-max-width: 1200px;
.layout-user-container() {
  max-width: @layout-user-container-max-width;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: @layout-user-container-max-width + 15px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

// NOTE mockup design system 建置到這裡以上

// color setting
@color-input-border: @color-primary;
@color-body-bgc: #fff;

// transition
@transition: all 0.3s ease;

// space
@layout-section-gutter: 36px;

// form
@form-group-info-color: pink; //TODO
@form-group-value-color: #646464;
@form-group-font-size: 1rem;
// @input-height: 48px;
// @input-line-height: 24px;
@input-padding-y: 12px;
@input-padding-x: 16px;
@input-cus-icon-color: @color-black;
// @input-color: @color-black;
// @input-placeholder-color: @color-gray03;

// z-index
@header-logo-primary: 2;
