// adat custom var, reference from mockup

// color
@color-primary: #022061;
@color-primary-light03: #eaeff8;
@color-primary-light02: #d6ddf0;
@color-primary-light01: #8f9fca;

@color-error: #da1414;
@color-error-light: #feefef;
@color-success: #287d3c;
@color-success-light: #edf9f0;

@color-black: #1d1d1e;
@color-white: #fdfeff;
@color-gray01: #fafcff;
@color-gray02: #dcdcdc;
@color-gray03: #989898;
@color-gray04: #646464;

// gradient
.bg-gradient-emphasis() {
  background-color: @color-primary;
  background: linear-gradient(
    132.03deg,
    #2efee4 -8.84%,
    #826aff 38.2%,
    #ff0adf 106.26%,
    #ff008f 106.26%
  );
}
.bg-gradient-default() {
  background-color: @color-primary-light03;
  background: linear-gradient(
    135.19deg,
    #ffffff -4.43%,
    #f6f8fe -4.42%,
    #dae4ff 86.52%
  );
}

// shadow
@box-shadow-emphasis:0px 4px 4px @color-gray02;

//pagination
@pagination-width: 48px;

// layout
@global-header-height: 90px;
@layout-user-container-max-width: 1200px;
@layout-user-page-min-height: 800px;
@layout-user-page-min-height-sm: 600px;
@layout-admin-section-gutter: 36px;

// z-index
@z-index-global-login-bg: 0;
@z-index-admin-sidebar: 2;
@z-index-user-index-learningPath-hoverCard: 2;
@z-index-header-logo-primary: 3;
@z-index-header: 4;

// transition
@transition-base: all 0.3s ease;

// button
@btn-group-gap: 30px;

// border
@border-color-default: @color-gray02;

// form
@form-input-border-color: @color-gray03;
@form-input-max-height: 48px;
@form-group-value-color: @color-black;
@form-input-padding-y: 12px;
@form-input-padding-x: 16px;
@form-input-customize-icon-color: @color-black;
.form-input-border-default {
  width: 100%;
  border: 1px solid @color-gray03;
  border-radius: 2px;
  max-height: @form-input-max-height;
}
