@header-padding-top: 24px;

.aa-header {
  .size(100%,@global-header-height);
  background-color: @color-white;
  position: relative;
  border-bottom: 1px solid @color-gray02;
  z-index: @z-index-header;
  position: fixed;
  top: 0;
  left: 0;

  &::before {
    .size(100%, 6px);
    display: block;
    content: '';
    background-color: @color-primary;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.aa-header-container {
  .size(100%,100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: @header-padding-top;
}
.aa-header-container-logo {
  margin-top: @header-padding-top * -0.5;
  color: @color-primary;
}
.aa-header-container-logo-primary {
  background-color: @color-primary;
  padding: 36px 65px 33px 57px;
  z-index: @z-index-header-logo-primary;
  color: @color-primary-light03;
  cursor: pointer;
  .anticon {
    .size(auto,48px);
  }
  &.scroll-mode {
    background-color: @color-white;
    padding: unset;
    color: @color-primary;
    position: relative;
    top: -5px;
    cursor: pointer;
  }
}
.aa-header-searchBar {
  .size(376px,100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  .ant-input {
    width: calc(100% - @height-base - 8px);
  }
  .ant-btn {
    margin-left: 8px;
  }
}
.aa-header-tabHead {
  .ulReset();
  .size(auto,100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  .aa-header-btn {
    margin-left: 5px;
    margin-right: 5px;
  }
}
.aa-header-btn {
  .size(auto,100%);
  display: flex;
  align-items: center;
  padding: 0 8px;
  position: relative;
  cursor: pointer;
  user-select: none;

  &::after {
    content: '';
    .size(0px,5px);
    background-color: @color-primary;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: @transition-base;
  }
  &:hover,
  &.active,
  &.ant-dropdown-open {
    &::after {
      width: 100%;
    }
  }

  .anticon {
    margin-left: 8px;
  }
}
.aa-header-profile-menu {
  padding: 24px;
  background-color: @color-primary;
  min-width: 246px;
  border-radius: unset;
}
.aa-header-profile-menu .ant-dropdown-menu-item-disabled,
.aa-header-profile-menu .ant-dropdown-menu-title-content {
  color: @color-white;
}
.aa-header-profile-menu-text {
  padding-top: unset;
  padding-bottom: unset;
}
.aa-header-profile-menu-decs {
  color: @color-primary-light01;
}
.aa-header-profile-menu .ant-dropdown-menu-item:hover {
  background-color: unset;
  font-weight: 700;
}
.aa-header-profile-menu .ant-dropdown-menu-item-disabled:hover {
  background-color: unset;
  font-weight: unset;
  cursor: auto;
}
.aa-header-profile-menu-bd {
  border-bottom: 1px dashed @color-primary-light01;
}
