#root {
  background-color: @color-gray01;
}
.main {
  margin-top: @global-header-height;
  height: 100%;
}
article {
  background-color: @color-gray01;
}
.ad-layout-version {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #ccc;
}

// user
.ad-layout-article {
  padding-top: @global-header-height;
}
.ad-layout-article-contentCard {
  padding: 40px 50px;
  border: 1px solid @color-primary-light01;
  background-color: @color-white;
}
.ad-layout-container {
  max-width: @layout-user-container-max-width;
  margin-left: auto;
  margin-right: auto;
  // @media (max-width: @layout-user-container-max-width + 15px) {
  //   padding-left: 15px;
  //   padding-right: 15px;
  // }
}
.ad-layout-container-prompt {
  text-align: center;
  min-height: @layout-user-page-min-height;
  position: relative;

  &.no-course {
    min-height: @layout-user-page-min-height-sm;
  }
}
.ad-layout-container-prompt-content {
  .center();
  .size(auto,auto);
  display: inline-block;
  h1 {
    margin-bottom: 24px;
  }
  p {
    .typo-bodyDefault();
    color: @color-primary;
    margin-bottom: 40px;
  }
  .ant-btn {
    width: 100%;
  }
}
.ad-page-container {
  max-width: @layout-user-container-max-width;
  min-height: @layout-user-page-min-height;
  padding-top: 68px;
  padding-bottom: 95px;
  margin-left: auto;
  margin-right: auto;
  .ad-page-container-footer {
    margin-top: 64px;
    .ant-btn {
      min-width: 230px;
    }
  }
  &.ad-page-container-account {
    margin-left: 40px;
    margin-right: calc(50vw - @layout-user-container-max-width*0.5);
  }
}
.ad-layout-banner {
  height: 275px;
  background-image: url('/assets/img/industry.jpg');

  &::before {
    content: '';
    display: block;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgba(0, 164, 241, 0.7) -0.01%,
      rgba(4, 126, 243, 0.7) 20.11%,
      rgba(10, 58, 247, 0.7) 58.24%,
      rgba(14, 16, 250, 0.7) 85.88%,
      rgba(16, 0, 251, 0.7) 100%
    );
  }
}

// admin
@admin-layout-article-padding-x: 20px;
@admin-layout-article-padding-y: 50px;
@admin-layout-courseDetail-footer-height: 90px;
@admin-layout-course-detail-content-padding-bottom: 50px;
@admin-layout-courseDetail-footer-height: 100px;
.ad-layout-admin {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  & > article {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: @admin-layout-article-padding-y @admin-layout-article-padding-x;
  }
}
.ad-layout-admin-article-title {
  .clearFix();
  font-size: 30px;
  font-weight: 700;
}
.ad-layout-admin-article-toolBar {
  margin-bottom: @layout-admin-section-gutter;
  .ad-form-group > label {
    .typo-bodyBold();
  }
}
.ad-layout-admin-courseDetail {
  height: 100%;
  .ad-layout-admin-article-row {
    height: calc(100% - 60px);
  }
  .ad-layout-admin-article-title {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
  }
  .ad-layout-admin-article-row-menu {
    height: 100%;
    padding-right: 1rem;
    padding-bottom: @admin-layout-course-detail-content-padding-bottom;
    border-right: 1px solid #ccc;
    overflow-y: auto;
    position: relative;
    z-index: 1;
    background-color: @color-gray01;
  }
  .ad-layout-admin-article-row-section {
    height: 100%;
    overflow-y: auto;
    padding-bottom: 100px;
    position: relative;
    .ad-layout-admin-article-content {
      padding-bottom: 50px;
    }
    .ad-layout-admin-article-row-section-footer {
      .size(100%,@admin-layout-courseDetail-footer-height);
      background-color: @color-gray01;
      text-align: right;
      position: fixed;
      right: 0;
      bottom: 0;
      border-top: 1px solid @border-color-default;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0 @admin-layout-article-padding-x;
    }
  }

  // TODO
  .ad-layout-admin-article-menu {
    // height: 100%;
    // padding-right: 1rem;
    // border-right: 1px solid #ccc;
  }
  .ad-layout-admin-article-content {
    // height: 100%;
    // overflow-y: auto;
    // padding-bottom: 50px;
  }
}
