#root {
  background-color: @color-gray01;
}

article {
  background-color: @color-gray01;
}
.ad-layout-version {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #ccc;
}

// user
.ad-layout-article {
  padding-top: @global-header-height;
}
.ad-layout-container {
  max-width: @layout-user-container-max-width;
  margin-left: auto;
  margin-right: auto;
  // @media (max-width: @layout-user-container-max-width + 15px) {
  //   padding-left: 15px;
  //   padding-right: 15px;
  // }
}
.ad-layout-container-prompt {
  text-align: center;
  min-height: @layout-user-page-min-height;
  position: relative;

  &.no-course {
    min-height: @layout-user-page-min-height-sm;
  }
}
.ad-layout-container-prompt-content {
  .center();
  .size(auto,auto);
  display: inline-block;
  h1 {
    margin-bottom: 24px;
  }
  p {
    .typo-bodyDefault();
    color: @color-primary;
    margin-bottom: 40px;
  }
  .ant-btn {
    width: 100%;
  }
}
.ad-page-container {
  max-width: @layout-user-container-max-width;
  min-height: @layout-user-page-min-height;
  padding-top: 68px;
  padding-bottom: 95px;
  margin-left: auto;
  margin-right: auto;
}
.ad-layout-banner {
  height: 275px;
  background-image: url('/assets/img/industry.jpg');

  &::before {
    content: '';
    display: block;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgba(0, 164, 241, 0.7) -0.01%,
      rgba(4, 126, 243, 0.7) 20.11%,
      rgba(10, 58, 247, 0.7) 58.24%,
      rgba(14, 16, 250, 0.7) 85.88%,
      rgba(16, 0, 251, 0.7) 100%
    );
  }
}

// admin
@admin-layout-article-padding-x: 20px;
@admin-layout-article-padding-y: 50px;
@admin-layout-courseDetail-footer-height: 120px;
.ad-layout-admin {
  display: flex;
  flex-wrap: nowrap;
  height: calc(100% - @global-header-height);
  & > article {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: @admin-layout-article-padding-y @admin-layout-article-padding-x;
  }
}
.ad-layout-admin-article-title {
  .clearFix();
  font-size: 30px;
  font-weight: 700;
}
.ad-layout-admin-article-toolBar {
  margin-bottom: @layout-admin-section-gutter;
  .ad-form-group > label {
    .typo-bodyBold();
  }
}
.ad-layout-admin-courseDetail {
  padding-bottom: @admin-layout-article-padding-y +
    @admin-layout-courseDetail-footer-height;

  .ad-layout-admin-courseDetail-footer {
    .size(100%,@admin-layout-courseDetail-footer-height);
    background-color: #fff;
    text-align: right;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid @border-color-default;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 @admin-layout-article-padding-x;
  }
}
